.author {
	font-style: italic;
}

article {
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	font-style: italic;
}

p {
	text-align: justify;
}

hr {
	border: 0.5px solid gray;
}
